@media screen and (max-width: 768px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  .btnMain {
    font-size: 1.8rem;
  }

  .btnMain:hover {
    background-color: var(--color-dark);
  }

  .app {
    grid-template-columns: 0 100% 0;
  }

  .header {
    font-size: 2rem;
  }

  .main {
    grid-template-rows: 5% 5% 50% 40%;
  }

  .status {
    font-size: 1.5rem;
  }

  .descriptionContainer {
    width: 30%;
  }

  .endStatusContainer {
    font-size: 1.8rem;
  }

  .iconFlag,
  .iconTrophy,
  .iconStar,
  .iconFlagTriangle,
  .iconRotate,
  .iconAward,
  .iconPalette {
    height: 16px;
    width: 16px;
  }

  img {
    width: auto;
    height: 50%;
  }

  .qatar {
    width: 80%;
    height: auto;
  }

  .options {
    grid-template-columns: 1fr;
  }

  .options.easy button {
    height: 50%;
  }

  .options.hard button {
    height: 80%;
  }
}
